---
layout: layout.njk
permalink: /project/data/import/data/
---
{% set theJs %}
    {% include 'project-data-import-data.js' %}
{% endset %}
<!-- Page Heading -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800" id="project-header">Import Data</h1>
	<a href="javascript:goBack();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
	<i class="fas fa-backward fa-sm text-white-50"></i> Back</a>
</div>
<p class="mb-4"></p>
<div class="form-group d-none" id="uploadfile">
	<input type="file" id="csv-file" name="files"/>
	<br>
	<output id="uploadfiletext"></output>
</div>
<div class="card shadow mb-4 d-none" id="csvtable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Imported</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
             <thead>
                   
                </thead>
                <tfoot>
                    
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> 

{% if env.ENVIRONMENT == 'local' %}
    <script type="text/javascript">{{theJs | safe}}</script>
{% else %}
    <script type="text/javascript">{{theJs | jsmin | safe}}</script>
{% endif %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
