---
layout: layout.njk
---
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Settings</h1>
<p class="mb-4">
Add you settings here. 
</p>
<div class="form-group">
    <input type="email" class="form-control form-control-user" id="inp-example" aria-describedby="emailHelp" placeholder="Enter ...">
   	<span class="text-danger d-none" id="error-exmaple">Invalid</span>  
</div>
<button class="btn btn-primary btn-user btn-block" id="btn-profile-update">
    Update
</button>
<script type="text/javascript">{{theJs  | safe}}</script>